{% extends 'base.html.twig' %}

{% block title %}Personal index{% endblock %}

{% block body %}
    <h1>Personal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Ci</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personal in personals %}
            <tr>
                <td>{{ personal.id }}</td>
                <td>{{ personal.name }}</td>
                <td>{{ personal.lastname }}</td>
                <td>{{ personal.email }}</td>
                <td>{{ personal.ci }}</td>
                <td>
                    <a href="{{ path('personal_show', {'id': personal.id}) }}">show</a>
                    <a href="{{ path('personal_edit', {'id': personal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personal_new') }}">Create new</a>
{% endblock %}
